.home {
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.search-form {
  max-width: 600px;
  margin: 0 auto 2rem;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.search-input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: #333;
  color: white;
  font-size: 1rem;
  transition: 0.2s;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #666;
}

.search-button {
  padding: 0.75rem 1.5rem;
  background-color: #d50d17;
  color: white;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.2s;
  white-space: nowrap;
}

.search-button:hover {
  background-color: #ff1f2a;
}

.movies-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem 1.5rem;
  padding: 1rem 5%;
  width: 100%;
  box-sizing: border-box;
}


@media (max-width: 639px) {
  .home {
    padding: 1rem 0;
  }

  .search-form {
    margin-bottom: 1rem;
  }

  .movies-grid {
    gap: 1.5rem 1rem;
    padding: 2rem 0 2rem 0;
    max-width: 100%;
  }
}

@media (max-width: 440px) {

}

