.navbar {
  background-color: #151515;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.125;
}


.nav-logo-img {
  height: 50px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.navbar-links {
  display: flex;
  gap: 0.5rem;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 6px;
  transition: background-color 0.2s;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
}